<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mission Statement</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>Mission Statement</h3>
  <p>
    We are focused to enable ease for our customers to grow their businesses by
    providing them incredible features.
  </p>

  <ul>
    <li>Improvising the visibility of your business</li>
    <li>Helps you generate leads</li>
    <li>You can mark the presence of your company digitally</li>
    <li>Represent your business as a verified seller</li>
  </ul>
  <p>
    Moreover, We have made it easier for the buyer’s as well, they can search
    for the products and services with ease. Our simplified website lets you
    connect with the sellers easily.
  </p>
</ion-content>
