<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Social Media Links</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <a
    class="btn fb"
    target="_blank"
    href="https://www.facebook.com/UAEYellowPages"
    ><ion-icon name="logo-facebook"></ion-icon> Facebook</a
  >

  <a class="btn twitter" target="_blank" href="https://twitter.com/etisalatyp"
    ><ion-icon name="logo-twitter"></ion-icon> Twitter
  </a>

  <a
    class="btn pinterest"
    target="_blank"
    href="https://www.pinterest.com/yellowpages_ae/"
    ><ion-icon name="logo-pinterest"></ion-icon> Pinterest</a
  >

  <a
    class="btn instagram"
    target="_blank"
    href="https://www.instagram.com/etisalatyellowpages/"
    ><ion-icon name="logo-instagram"></ion-icon> Instagram</a
  >

  <a
    class="btn linkedin"
    target="_blank"
    href="https://www.linkedin.com/company/etisalat-yellow-pages"
    ><ion-icon name="logo-linkedin"></ion-icon> Linkedin</a
  >

  <a
    class="btn vimeo"
    target="_blank"
    href="https://vimeo.com/etisalatyellowpagesuae/"
    ><ion-icon name="logo-vimeo"></ion-icon>Vimeo</a
  >
</ion-content>
