<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Contact Us</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <div>
    <img
      src="/assets/images/yp/yellow-banner.png"
      alt="Etisalat Yellow Pages UAE"
      class="bg-image"
    />
  </div>
  <div class="ion-padding">
    <div class="row">
      <div class="col-md-5 col-12 mb-3">
        <div class="row">
          <div class="col-2">
            <img src="/assets/images/yp/office.png" alt="" />
          </div>
          <div class="col-10 px-0">
            <div class="row">
              <div class="col-12 contact-title">HEAD OFFICE</div>
              <div class="col-12 contact-description">
                Dubai Office - 2504, Aspect Tower, Business Bay, Dubai, UAE
              </div>
              <div class="col-12 contact-description pt-2">
                Abu Dhabi Office - <br />
                C 88 Commercial Building - 247, Floor No. 22 Office No. 2201
                Electra Street Abu Dhabi, UAE
                <!-- Abu Dhabi Office - Al Gaith Tower, Hamdan Street, Abu Dhabi,U.A.E -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 d-none d-md-block"></div>
      <div class="col-md-5 col-12 mb-3">
        <div class="row">
          <div class="col-2">
            <img src="/assets/images/yp/email.png" alt="yp email" />
          </div>
          <div class="col-10 px-0">
            <div class="row">
              <div class="col-12 contact-title">E-MAIL ADDRESS</div>
              <div class="col-12 contact-description">
                support@mailyellowpages.ae
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-12 mb-3">
        <div class="row">
          <div class="col-2">
            <img src="/assets/images/yp/whats-app.png" alt="whatsapp" />
          </div>
          <div class="col-10 px-0">
            <div class="row">
              <div class="col-12 contact-title">WHATS APP</div>
              <div class="col-12 contact-description">
                <!-- <a class="contact-description" href="tel:+971 43440014"
                  >+971 43440014</a
                > -->

                <div class="whatsapp-query">
                  <a
                    target="_blank"
                    href="https://api.whatsapp.com/send?phone=97143440014&text=Visited Yellow Pages"
                    ><img src="assets/v2/whatsapp-query_new.png" alt="whatsapp"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 d-none d-md-block"></div>
      <div class="col-5 col-md-5 col-12 mb-3">
        <div class="row">
          <div class="col-2">
            <img src="/assets/images/yp/phone.png" alt="phone" />
          </div>
          <div class="col-10 px-0">
            <div class="row">
              <div class="col-12 contact-title">PHONE SUPPORT</div>
              <div class="col-12 contact-description">
                800yellow(935569)
                <a class="contact-description" href="tel:+971 43465220"
                  >+971 43465220</a
                >
                <a class="contact-description" href="tel:+971 43440014"
                  >+971 43440014</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.330374994962!2d55.2641677150095!3d25.192078783898587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f69d5b7d328e7%3A0x6889a34352994ad4!2sAspect%20Tower%20-%20Business%20Bay%20-%20Dubai%20-%20United%20Arab%20Emirates!5e0!3m2!1sen!2suk!4v1598077223596!5m2!1sen!2suk"
    width="100%"
    height="450"
    frameborder="0"
    style="border: 0"
    allowfullscreen=""
    aria-hidden="false"
    tabindex="0"
  ></iframe>
</ion-content>
