<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About Us</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h3>ETISALAT YELLOWPAGES A PLATFORM FOR BUYERS & SELLERS</h3>
        <p>We are the largest B2b marketing portal that helps you meet:</p>
        <ul>
          <li>Large set of buyers</li>
          <li>Large set of suppliers</li>
          <li>Large set of products of various Ranges</li>
        </ul>
      </ion-col>

      <ion-col size="12">
        <img src="assets/v2/about-1.jpg" alt="about us intro" />
      </ion-col>

      <ion-col size="12">
        <p>
          Etisalat Yellowpages is connecting the buyers and sellers of UAE
          through our largest business portal. Our website is listed with the
          top companies, brands, wholesalers, retailers and more, to whom you
          can easily approach through our website.
        </p>
        <p>
          We provide you each and every details and description of the suppliers
          who are experienced and verified. Our reach is in every segment of the
          UAE. You will get the advantage of doing business anywhere in Dubai,
          Abu Dhabi, Sharjah, Ajman, Al Ain, Ras al Khaimah, Fujairah, Umm al
          Quwain and more.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h3>For the Buyers</h3>
        <p>
          On yellowpages.ae the buyers will get comprehensive ranges of services
          & products from the verified companies and suppliers at the best
          price. The buyers can search for any nearby company for the product &
          services that they are seeking and can find all the details on our
          website. You can connect with the sellers & Services anywhere in the
          UAE. There will be a quality assurance for your purchase at the best
          price as we have only the certified experienced and verified product
          suppliers listed with us. Products and categories are mentioned
          alphabetically for your ease to search.
        </p>
      </ion-col>
      <ion-col size="12">
        <img src="assets/v2/about-2.jpg" alt="For buyers intro" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <img src="assets/v2/about-3.jpg" alt="For supplier intro" />
      </ion-col>
      <ion-col size="12">
        <h3>For the SELLERS/SUPPLIES</h3>
        <p>
          The suppliers will get maximum business visibility through
          Yellowpages.ae. They can drive their sales for their products and
          spread their business in various locations. Our website generates huge
          traffic everyday that will help you attract the attention of the
          buyers from different regions. The customer's reliability on
          Yellowpages will help you win the trust of your customers. SMEs, OPC
          (One Person Company), Wholesalers, Retailers, Restaurants, Hotels &
          more will get an outstanding representation of their business that
          will enhance their growth. We help you remark your company in the list
          of leading firms by providing you essential guidance.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h3>OUR AIM</h3>
        <p>
          Our team is always attentive to help you get the best benefit for any
          purchase and sale through our website and gives you a space to
          highlight your business as well.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
